{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>University College Boat Club (UCBC), Oxford - {% block title %}{% endblock %}</title>
        <meta name="description" content="Official Website of UCBC, University College Boat Club, Oxford">
        <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0">
        <link rel="stylesheet" href="{% static 'simple/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'simple/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'simple/css/animate.min.css' %}">
        <link href="{% static 'simple/js/vendor/kudos/kudos.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
        <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{% static 'simple/css/font-awesome/css/font-awesome.min.css'%}">

        <link rel="stylesheet" href="{% static 'simple/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'simple/js/vendor/gallery/css/blueimp-gallery.min.css' %}">
        {% block extrastyle %}{% endblock %}
        <script src="{% static 'simple/js/vendor/modernizr-2.7.1.min.js' %}"></script>

        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="index, follow">{% endblock %}

        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{page.longTitle}}" />
        <meta property="og:description" content="{{page.summary}}" />
        <meta property="og:site_name" content="University College Boat Club, Oxford" />
        <meta property="og:image" content="{% static 'simple/img/ucbcsmall.jpg' %}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@univbc" />
        <meta name="twitter:creator" content="@univbc"/>
        <meta name="twitter:title" content="{{page.longTitle}}" />
        <meta property="og:image" content="{% static 'simple/img/ucbcsmall.jpg' %}" />
        <meta name="twitter:description" content="{{page.summary}}" />

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <body class="mainColor">
            <header class="pageWidth">
                            {% block headerIcons %}{% endblock %}
            <div class="headerImageWrapper pageWidth">
            <div class="headerImageInnerWrapper">
                <img class="headerImage pageWidth" src="/media/uploads/siteStatic/headerAdjustedLarge.jpg" alt="UCBC Header">
                <img class="headerImageCover pageWidth" src="/media/uploads/siteStatic/headerAdjustedLargeBlur.jpg" alt="UCBC Header Blur">
            </div>
            </div>
                <a class="jaxify crest" href="/"><img src="/media/uploads/siteStatic/crest.png"><h1>UCBC</h1></a>
                <a class="dbHeaderLogo" href="/"><h3>Sponsored by</h3><img src="/media/uploads/siteStatic/db_square.jpg"></a>
            <nav class="wideNav">
                <ul class='NavigationUL firstNav'>
                    <li class="NavigationLI"><a class="mainColorBackground headerButton jaxify" href="/news/">News & Results</a></li>
                    <li class="NavigationLI"><a class="mainColorBackground headerButton jaxify" href="/give/">Alumni & Donations</a></li>
                    <li class="NavigationLI respectHover"><a class="mainColorBackground headerButton">Row For Univ</a>
                    <ul class="secondNav">
                        <li><a href="/novice/" class="mainColorBackground headerButton jaxify">Novice Rowing & Coxing</a></li>
                        <li><a href="/experienced/" class="mainColorBackground headerButton jaxify">Experiened Rowing & Coxing</a></li>
                        <li><a href="/safety/" class="mainColorBackground headerButton jaxify">Water Safety</a></li>
                        <li><a href="/faqs/" class="mainColorBackground headerButton jaxify">FAQs</a></li>
                        <li><a href="/head-porters-plate/" class="mainColorBackground headerButton jaxify">Awards</a></li>
                    </ul>
                    </li>
                    <li class="NavigationLI respectHover"><a class="mainColorBackground headerButton">About Us</a>
                    <ul class="secondNav">
                        <li><a href="/fleet/" class="mainColorBackground headerButton jaxify">Our Fleet</a></li>
                        <li><a href="/history/" class="mainColorBackground headerButton jaxify">Our History</a></li>
                        <li><a href="/constitution/" class="mainColorBackground headerButton jaxify">Our Constitution</a></li>
                        <li><a href="/boathouse/" class="mainColorBackground headerButton jaxify">Our Boathouse</a></li>
                        <li><a href="/sponsors/" class="mainColorBackground headerButton jaxify">Our Sponsors</a></li>
                    </ul>
                    </li>
                    <li class="NavigationLI"><a class="mainColorBackground headerButton jaxify" href="/crews/">Crews</a></li>
                    <li class="NavigationLI respectHover"><a class="mainColorBackground headerButton">Gallery</a>
                    <ul class="secondNav">
                        <li><a href="/photos/" class="mainColorBackground headerButton jaxify">Photos</a></li>
                        <li><a href="/videos/" class="mainColorBackground headerButton jaxify">Videos</a></li>
                    </ul>
                    </li>
                    <li class="NavigationLI"><a class="mainColorBackground headerButton jaxify" href="/committee/">Contact Us/Committee</a></li>
                    <li class="NavigationLI"><a href="/find-us/" class="mainColorBackground headerButton">Find Us</a></li>

                </ul>
            </nav>
        </header>
        <!-- Add your site or application content here -->
        <article class="pageWidth clearBackground">
            <h1 class="pageTitle">{% block header %}{% endblock %}</h1>
            <div class="kudosDiv"></div>
            <div class="pageContent">
            {% block content %}
            {% endblock %}
            </div>
            <div class="shareWrapper"></div>
            <div class="AlertBox alert-success">
                <span></span>
                <a class="close" href="#" onclick="closeAlertBox()"><i class="fa fa-times-circle-o fa-1x"></i></a>
            </div>
        </article>
<footer class="pageWidth">
            {% block footer %}
            {% endblock %}


    <div class="aboutMe socialLinks clearBackground footerDiv">
        {{footer | safe}}
        <ul>
            <li><a href="http://twitter.com/univbc"><i class="mainColor socialIcon fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/univbc"><i class="mainColor socialIcon fa fa-facebook fa-2x"></i></a></li>
        </ul>

    </div>

    <!--
    <div class="footerDiv clearBackground contactFormDiv">
        <h3 class="formMessage">Send Me A Wink<img class="formBusy" style="display:none" src="{% static 'simple/img/smallLoader.gif' %}"></h3>
        <form class="contactForm" action="/submitContactForm" method="post">{% csrf_token %}
            {{ contactform.as_p }}
            <div class="clearfix"></div>
            <label></label>
            <input class="submitButton input" type="submit" value="Send" />
            <div class="clearfix"></div>
        </form>

    </div>
    <div class="footerDiv clearBackground socialLinks">
        <h3>Find Me Doing My Thing</h3>
<!--        <ul>
        </ul>-->
    </div>

</footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{%static 'simple/js/vendor/jquery-1.10.2.min.js'%}"><\/script>')</script>
        <script text="text/javascript" src="{%static 'simple/js/vendor/qpscroll.js' %}"></script>
        <script type="text/javascript" src="{%static 'simple/js/vendor/kudos/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{%static 'simple/js/vendor/kudos/kudos.js' %}"></script>
        <!--<script type="text/javascript" src="http://static.cigari.co.uk/simple/js/vendor/share/jquery.sharrre.js"></script>-->
        <script text="text/javascript" src="{%static 'simple/js/vendor/spin.min.js' %}"></script>
        <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33071862-2']);
        _gaq.push(['_setDomainName', '.ucbc.org.uk']);
        _gaq.push(['_trackPageview']);
        </script>

        <script src="{%static 'simple/js/plugins.js'%}"></script>
        <script src="{%static 'simple/js/main.js'%}"></script>
        <script src="{%static 'simple/js/jaxify.js'%}"></script>

        {% block extrascripts %}{% endblock %}
        <script>
        	{%if page.slug != 'qpscroll' %}
            $(document).ready(function(){
            	if( window.innerWidth > 600 )
	                $('body').qpScroll({
	                    imagesFolder: "",
	                    imagesArray: [ "/media/uploads/siteStatic/a2.jpg", "/media/uploads/siteStatic/a1.jpg" ],
	                    firstSpeed: 12,
	                    neighbourRatio: 1.02,
	                    });
            });
            {% endif %}
            {% block finalScript %}{% endblock %}
       </script>
       <script type="text/javascript">
       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
       $.fn.jaxify.share(window.location.href, document.title );
     </script>
    </body>
</html>
