{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>University College Boat Club (UCBC), Oxford - {% block title %}{% endblock %}</title>
        <meta name="description" content="Official Website of UCBC, University College Boat Club, Oxford">
        <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0">
        <link rel="shortcut icon" href="http://www.ucbc.org.uk/favicon.ico?v=1" />
        <link rel="stylesheet" href="{% static 'simple/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'simple/css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'simple/css/animate.min.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
        <!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{% static 'simple/css/font-awesome/css/font-awesome.min.css'%}">

        <link rel="stylesheet" href="{% static 'simple/css/main.css' %}?v=20141001">
        <link rel="stylesheet" href="{% static 'simple/js/vendor/gallery/css/blueimp-gallery.min.css' %}">
        {% block extrastyle %}{% endblock %}
        <script src="{% static 'simple/js/vendor/modernizr-2.7.1.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>

        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="index, follow">{% endblock %}

        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{page.longTitle}}" />
        <meta property="og:description" content="{{page.summary}}" />
        <meta property="og:site_name" content="University College Boat Club, Oxford" />
        <meta property="og:image" content="/media/_versions/siteStatic/crest_small.png" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@univbc" />
        <meta name="twitter:creator" content="@univbc"/>
        <meta name="twitter:title" content="{{page.longTitle}}" />
        <meta property="og:image" content="/media/_versions/siteStatic/crest_small.png" />
        <meta name="twitter:description" content="{{page.summary}}" />

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    </head>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <body class="mainColor">
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=783368111686445&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
            <header class="pageWidth">
                            {% block headerIcons %}{% endblock %}
            <div class="headerImageWrapper pageWidth">
            <div class="headerImageInnerWrapper">
                <img class="headerImage pageWidth" src="/media/uploads/siteStatic/headeradjustedlarge.jpg" alt="UCBC Header">
                <img class="headerImageCover pageWidth" src="/media/uploads/siteStatic/headeradjustedlargeblur.jpg" alt="UCBC Header Blur">
            </div>
            </div>
                <a class="jaxify crest" href="/"><img src="/media/uploads/siteStatic/crest.png"><h1>UCBC</h1></a>
                <a class="dbHeaderLogo" href="/sponsors/"><img src="/media/uploads/siteStatic/db_square.jpg"></a>
            {{ navs | safe }}

        </header>
        <!-- Add your site or application content here -->
        <div class="wrapper pageWidth">
        <article class="clearBackground">
            <h1 class="pageTitle">{% block header %}{% endblock %}</h1>
            <div class="pageContent">
            {% block content %}
            {% endblock %}
            </div>
            <div class="AlertBox alert-success">
                <span></span>
                <a class="close" href="#" onclick="closeAlertBox()"><i class="fa fa-times-circle-o fa-1x"></i></a>
            </div>
            <div class="clearHack"></div>
        </article>
        <aside class="clearBackground">
            <div>
                <h3>News & Results</h3>
                    {{ sideNews | safe }}
            </div>

            <div>
            <h3>Flag Status</h3>
                <div class="flag">
                    <img align="middle" alt="Isis Flag Status" border="0" src="http://www.ourcs.org.uk/isisflag.php"/>
                    <img align="middle" alt="Isis Flag Status" border="0" src="http://www.ourcs.org.uk/godstowflag.php"/>
                    <img align="middle" alt="Today's Suntimes" border="0" src="http://www.ourcs.org.uk/suntimes.php"/>
                </div>
            </div>
            <div class="socialMediaSide">
            <h3>Social Media</h3>
            <div class="fb-like" data-href="https://www.facebook.com/univbc" data-width="270px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            <div><a href="https://twitter.com/univbc" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @univbc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
            </div>
            <div class="clearHack"></div>
        </aside>

        <div class="clearHack"></div>
        </div>
<footer class="pageWidth">
            {% block footer %}
            {% endblock %}


    <div class="aboutMe socialLinks clearBackground footerDiv">
        <ul>
            <li><a href="http://twitter.com/univbc"><i class="mainColor socialIcon fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.facebook.com/univbc"><i class="mainColor socialIcon fa fa-facebook fa-2x"></i></a></li>
        </ul>
        {{footer | safe}}
    </div>

</footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"></script>
        <script>window.jQuery || document.write('<script src="{%static 'simple/js/vendor/jquery-1.10.2.min.js'%}"><\/script>')</script>
        <script src="{%static 'simple/js/vendor/qpscroll.js' %}"></script>
        <script src="{%static 'simple/js/vendor/spin.min.js' %}"></script>

        <script src="{%static 'simple/js/plugins.js'%}"></script>
        <script src="{%static 'simple/js/main.js'%}?20140819"></script>
        <script src="{%static 'simple/js/jaxify.js'%}"></script>

        {% block extrascripts %}{% endblock %}
        <script>
            $(document).ready(function(){
                i = Math.random();
                if( i < 0.5 )
                    imagesArray = [ "/media/uploads/siteStatic/a2.jpg", "/media/uploads/siteStatic/a1.jpg" ];
                else
                    imagesArray = [ "/media/uploads/siteStatic/a1.jpg", "/media/uploads/siteStatic/a2.jpg" ];
            	if( window.innerWidth > 600 )
	                $('body').qpScroll({
	                    imagesFolder: "",
	                    imagesArray: imagesArray,
	                    firstSpeed: 15,
	                    neighbourRatio: 1.01,
	                    });
            });

            {% block finalScript %}{% endblock %}
       </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33071862-2', 'auto');
      ga('send', 'pageview');

    </script>
    </body>
</html>
