<div class="newsWrapper">

<div class="sideNews">
    {% for post in posts %}
    <div>
        <a href="{% url 'simple:newsPostView' 'news' post.year post.slug %}" class="sideNewsInner">
            <span>{{post.title}}</span>
            <img src="{{ post.image }}">
        </a>
    </div>
    {% endfor %}
    </div>
    <ul class="sideNews2">
    {% for post in posts %}
    <li><a href="{% url 'simple:newsPostView' 'news' post.year post.slug %}" class="sideNewsInner">{{post.title}}</a></li>
    {% endfor %}
    <li><a href="/news/" class="sideNewsInner">All News & Results...</a></li>
    </ul>

</div>
