.masthead{
height:                 275px;

background-image:       url("../img/placeholder_header.jpg");
background-repeat:      no-repeat;

background-position:    center;
background-size:        cover;

}



